---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.container {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "proxima-nova-soft", sans-serif;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  line-height: 1.7;
  font-size: 16px;
  margin-top: 15px;
}

a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:active {
    color: $blue;
  }
}

ul,
ol {
  padding-left: 30px;
}

ul {
  list-style-type: disc;
  list-style-position: outside;
}

ol {
  list-style-type: decimal;
}

ol ul,
ul ol,
ul ul,
ol ol {
  margin: 0;
}

ul ul,
ol ul {
  list-style-type: circle;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  color: $gray;
  font-size: 0.9rem;
}

.post-date {
  color: $gray;
  font-size: 0.9rem;
  font-weight: 300;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 15px;

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: "proxima-nova-soft", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

nav {
  float: right;
  font-family: "proxima-nova-soft", sans-serif;
  font-size: 0.9rem;
  padding-top: 10px;

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

.main {
  font-size: 28px;
  padding: 8px 15px 15px 15px;

  @include mobile {
    margin-left: 0;
    font-size: 28px;
    padding: 8px 15px 15px 15px;
  }
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
  padding: 20px 10px 10px 0px;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
  padding: 10px 10px 10px 0px;
}

.post {
  max-width: 768px;
  margin: 0 auto;
  padding: 20px 10px 10px 0px;
  blockquote {
    margin: 1.8em 0.8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }
}

.chart-button {
  background-color: pink;
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
