<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>
  .chart-actions {
    margin: 16px 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  .chart-button {
    transition: background 0.25s, border-color 0.25s;
    background: rgba(40, 44, 52, 0.05);
    border: 1px solid transparent;
    border-radius: 6px;
    color: #3080d0;
    text-decoration: none !important;
    display: inline-block;
    font-size: 0.8rem;
    padding: 8px 16px;
    margin: 0 8px 8px 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-weight: 500;
  }
</style>

<div>
  <canvas id="myChart"></canvas>
  <div class="chart-actions">
    <a id="0" class="chart-button" onclick="updateChart(this)">Round 1</a>
    <a id="1" class="chart-button" onclick="updateChart(this)">Round 2</a>
    <a id="2" class="chart-button" onclick="updateChart(this)">Round 3</a>
    <a id="3" class="chart-button" onclick="updateChart(this)">Round 4</a>
    <a id="4" class="chart-button" onclick="updateChart(this)">Overall</a>
  </div>
</div>

<script>
  const holes = [
    '1',
    '2',
    '3',
    '4',
    '5',
    '6',
    '7',
    '8',
    '9',
    '10',
    '11',
    '12',
    '13',
    '14',
    '15',
    '16',
    '17',
    '18',
  ];
  const round1Eagles = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 7];
  const round2Eagles = [];
  const round3Eagles = [];
  const round4Eagles = [];
  const round1Birdies = [
    17,
    28,
    13,
    10,
    10,
    29,
    13,
    16,
    20,
    16,
    5,
    10,
    27,
    27,
    9,
    15,
    11,
    59,
  ];
  const round2Birdies = [];
  const round3Birdies = [];
  const round4Birdies = [];
  const round1Pars = [
    94,
    101,
    107,
    104,
    93,
    83,
    101,
    115,
    101,
    116,
    86,
    82,
    92,
    104,
    96,
    110,
    104,
    73,
  ];
  const round2Pars = [];
  const round3Pars = [];
  const round4Pars = [];
  const round1Bogeys = [
    40,
    26,
    36,
    39,
    43,
    38,
    38,
    24,
    33,
    21,
    58,
    56,
    34,
    23,
    48,
    29,
    37,
    17,
  ];
  const round2Bogeys = [];
  const round3Bogeys = [];
  const round4Bogeys = [];
  const round1DoubleBogeys = [
    5,
    1,
    0,
    2,
    10,
    6,
    3,
    1,
    2,
    3,
    7,
    5,
    3,
    2,
    3,
    2,
    4,
    0,
  ];
  const round2DoubleBogeys = [];
  const round3DoubleBogeys = [];
  const round4DoubleBogeys = [];
  const round1Others = [0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0];
  const round2Others = [];
  const round3Others = [];
  const round4Others = [];

  const data = {
    labels: holes,
    datasets: [
      {
        label: 'Eagles',
        data: round1Eagles,
        backgroundColor: 'rgb(54, 162, 235)',
      },
      {
        label: 'Birdies',
        data: round1Birdies,
        backgroundColor: 'rgb(255, 99, 132)',
      },
      {
        label: 'Pars',
        data: round1Pars,
        backgroundColor: 'rgb(74, 192, 192)',
      },
      {
        label: 'Bogeys',
        data: round1Bogeys,
        backgroundColor: 'rgb(255, 205, 86)',
      },
      {
        label: 'Double Bogeys',
        data: round1DoubleBogeys,
        backgroundColor: 'rgb(255, 158, 64)',
      },
      {
        label: 'Other',
        data: round1Others,
        backgroundColor: 'rgb(204, 205, 209)',
      },
    ],
  };

  const config = {
    type: 'bar',
    data: data,
    options: {
      plugins: {
        title: {
          display: true,
          text: 'Course Statistics by Hole',
        },
      },
      responsive: true,
      scales: {
        x: {
          stacked: true,
        },
        y: {
          stacked: true,
        },
      },
    },
  };

  var myChart = new Chart(document.getElementById('myChart'), config);

  function updateChart(elem) {
    if (elem.id === '0') {
      var data = myChart.config.data;
      data.datasets[0].data = round1;
      myChart.update();
    }
    if (elem.id === '1') {
      var data = myChart.config.data;
      data.datasets[0].data = round2;
      myChart.update();
    }
    if (elem.id === '2') {
      var data = myChart.config.data;
      data.datasets[0].data = round3;
      myChart.update();
    }
    if (elem.id === '3') {
      var data = myChart.config.data;
      data.datasets[0].data = round4;
      myChart.update();
    }
    if (elem.id === '4') {
      var data = myChart.config.data;
      data.datasets[0].data = overall;
      myChart.update();
    }
  }
</script>
